.Events{
    text-align: center;
    margin: 2rem auto;
    border: 1px solid blue;
    padding: 1rem;
    width: 30rem;
    max-width: 80%;

}

.EventsList{
    text-align: center;
    margin: 5rem auto;
    padding: 1rem;
    width: 40rem;
    max-width: 80%;
}

.List{
    margin-top: 5rem;
  margin-left: 30rem;
}